# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Production build outputs
dist/
dist-ssr/
build/

# Vite temporary & cache directories
.vite/
.nuxt/
.vuepress/
.serverless/

# Environment variables (Contains sensitive keys)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript cache
*.tsbuildinfo

# Optional tools and test artifacts
.eslintcache
.stylelintcache
coverage/
stats.html

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db
